html {
	background-color: powderblue;
}
head {
	background-color: powderblue;
}
body {
  background-color: powderblue;
}
header {
	background-color: white;
}
h1 {
  color: blue;
}
p {
  color: black;
}
h2 {
	background-color: powderblue;
}
div {
	background-color: skyblue;
}